<mat-card>
    <mat-card-title>Nova Tarefa</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Titulo"
                   [(ngModel)]="tarefa.titulo" name ="titulo">
        </mat-form-field>
    </form>
    <form>
        <mat-form-field>
            <input matInput placeholder="Data Inicial"
                   [(ngModel)]="tarefa.dataInicial" name ="dataInicial">
        </mat-form-field>
    </form>
    <form>
        <mat-form-field>
            <input matInput placeholder="Data Previsa"
                   [(ngModel)]="tarefa.dataPrevista" name = datePrevista>
        </mat-form-field>
    </form>
    <form>
        <mat-form-field>
            <input matInput placeholder="Data Efetiva"
                   [(ngModel)]="tarefa.dataEfetiva" name = "dataEfetiva">
        </mat-form-field>
    </form>
    <form>
        <mat-form-field>
            <input matInput placeholder="Tipo de Tarefa"
                   [(ngModel)]="tarefa.tipoTarefa" name="tipoTarefa">
        </mat-form-field>
    </form>
    <form>
        <mat-form-field>
            <input matInput placeholder="Status"
                   [(ngModel)]="tarefa.status" name="status">
        </mat-form-field>
    </form>
<!--    <form>-->
<!--       <mat-form-field>-->
<!--            <input matInput placeholder="Id Responsavel"-->
<!--                   [(ngModel)]="tarefa.idResponsavel" name="idResponsavel">-->
<!--       </mat-form-field>-->
<!--    </form>-->


</mat-card>

<div class="butoes">
<button mat-raised-button (click)="createTarefas()">
    Salvar
</button>

<button mat-raised-button (click)="cancel()">
    Cancel
</button>
</div>


