<mat-card>
    <mat-card-title>Nova Tarefa</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Titulo">
        </mat-form-field>
    </form>
    <form>
        <mat-form-field>
            <input matInput placeholder="Data Inicial">
        </mat-form-field>
    </form>
    <form>
        <mat-form-field>
            <input matInput placeholder="Data Previsa">
        </mat-form-field>
    </form>
    <form>
        <mat-form-field>
            <input matInput placeholder="Data Efetiva">
        </mat-form-field>
    </form>
    <form>
        <mat-form-field>
            <input matInput placeholder="Tipo de Tarefa">
        </mat-form-field>
    </form>
    <form>
        <mat-form-field>
            <input matInput placeholder="Status">
        </mat-form-field>
    </form>
    <form>
        <mat-form-field>
            <input matInput placeholder="Comentarios">
        </mat-form-field>
    </form>
    <form>
        <mat-form-field>
            <input matInput placeholder="Id Responsavel">
        </mat-form-field>
    </form>

</mat-card>

<div class="butoes">
<button mat-raised-button (click)="createTarefas()">
    Salvar
</button>

<button mat-raised-button (click)="cancel()">
    Cancel
</button>
</div>


