<mat-card>
    <mat-card-title>Deletar Tarefa</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="id"
                   [(ngModel)]="tarefa.titulo" name ="titulo">
        </mat-form-field>
    </form>
    <form>
        <mat-form-field>
            <input matInput placeholder="Data Inicial"
                   [(ngModel)]="tarefa.dataInicial" name ="dataInicial">
        </mat-form-field>
    </form>
    <form>
        <mat-form-field>
            <input matInput placeholder="Data Previsa"
                   [(ngModel)]="tarefa.dataPrevista" name = datePrevista>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="apagar()">
       Deletar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancel
    </button>


</mat-card>
